
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #111827;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.hero-overlay {
  background: linear-gradient(180deg, rgba(16,28,43,0.6) 0%, rgba(16,28,43,0.85) 60%, rgba(16,28,43,1) 100%);
}
